* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }


  /* transaction page */
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 0 5px gray;
  }


